In [1]:
import zipfile
import os
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [5]:
# First file to start with
df = pd.read_json(r"C:\Users\srikar\Desktop\tmp\articles\2016-05-01.json" , encoding='utf-8')

In [9]:
# Combining all json files to a one data frame
count = 0
for filename in os.listdir("C:/Users/srikar/Desktop/tmp/articles"):
    count+=1
    if count>2:
        file_path = "C:/Users/srikar/Desktop/tmp/articles/" + filename
        df_ = pd.read_json(file_path , encoding='utf-8')
        df = pd.concat(objs= [df,df_], axis=0,ignore_index=True)
        
        # To see the progress, print the number of the file
        if count%100 ==0:
            print ("This is the ",count,"th file -->")

This is the  100 th file -->
This is the  200 th file -->
This is the  300 th file -->

In [10]:
# Getting bodytext from the dataframe
lst = []
for i in range(df.shape[0]):
    lst.append(df.fields[i]["bodyText"])

In [11]:
# Creating a column with bodytext
df["bodyText"] = lst

In [12]:
# Getting headlines from the dataframe
lst_head = []
for i in range(df.shape[0]):
        lst_head.append(df.fields[i]["headline"])

In [13]:
# Creating a column with headline
df["headline"] = lst_head

In [14]:
# Getting rid of the embty bodies
df = df[df.bodyText != ""]

In [15]:
# Total Number of Articles
df.shape

(91019, 14)

In [16]:
# Filtering articles based on topics
df = df[(df.sectionName == 'US news') | (df.sectionName == 'Business') | (df.sectionName == 'Politics') | (df.sectionName == 'World news')]

In [17]:
# Getting to see the dataframe info (data type, non-null value etc.)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19998 entries, 5 to 92371
Data columns (total 14 columns):
apiUrl                19998 non-null object
fields                19998 non-null object
id                    19998 non-null object
isHosted              19998 non-null bool
pillarId              19998 non-null object
pillarName            19998 non-null object
sectionId             19998 non-null object
sectionName           19998 non-null object
type                  19998 non-null object
webPublicationDate    19998 non-null object
webTitle              19998 non-null object
webUrl                19998 non-null object
bodyText              19998 non-null object
headline              19998 non-null object
dtypes: bool(1), object(13)
memory usage: 2.2+ MB

In [19]:
# To see how many articles in each category
from collections import Counter
Counter(df.sectionName)

Counter({'Business': 4222,
         'Politics': 4434,
         'US news': 4873,
         'World news': 6469})

In [20]:
# Overview for the dataframe
df.head()

,apiUrl,fields,id,isHosted,pillarId,pillarName,sectionId,sectionName,type,webPublicationDate,webTitle,webUrl,bodyText,headline
5,https://content.guardianapis.com/business/2016...,{'headline': 'English businesses 'should be fo...,business/2016/may/02/english-businesses-should...,False,pillar/news,News,business,Business,article,2016-05-01T23:01:08Z,English businesses 'should be forced to show h...,https://www.theguardian.com/business/2016/may/...,All premises in England that sell food should ...,English businesses 'should be forced to show h...
6,https://content.guardianapis.com/business/2016...,"{'headline': 'Tips should go to workers, not e...",business/2016/may/02/tips-should-go-to-workers...,False,pillar/news,News,business,Business,article,2016-05-01T23:01:07Z,"Tips should go to workers, not employers, says...",https://www.theguardian.com/business/2016/may/...,"Tips in restaurants, hotels and bars should go...","Tips should go to workers, not employers, says..."
14,https://content.guardianapis.com/politics/blog...,{'headline': 'Sturgeon accused of breaking ind...,politics/blog/live/2016/may/01/scottish-electi...,False,pillar/news,News,politics,Politics,liveblog,2016-05-01T21:51:50Z,Sturgeon accused of breaking independence prom...,https://www.theguardian.com/politics/blog/live...,Election debates are more common in Holyrood p...,Sturgeon accused of breaking independence prom...
15,https://content.guardianapis.com/politics/2016...,{'headline': 'Second Scottish independence vot...,politics/2016/may/01/scottish-independence-vot...,False,pillar/news,News,politics,Politics,article,2016-05-01T21:40:37Z,Second Scottish independence vote not yet on t...,https://www.theguardian.com/politics/2016/may/...,Nicola Sturgeon has said a second independence...,Second Scottish independence vote not yet on t...
24,https://content.guardianapis.com/us-news/2016/...,{'headline': 'Bernie Sanders vows a contested ...,us-news/2016/may/01/bernie-sanders-contested-c...,False,pillar/news,News,us-news,US news,article,2016-05-01T21:16:57Z,Bernie Sanders vows a contested convention des...,https://www.theguardian.com/us-news/2016/may/0...,Bernie Sanders acknowledged “an uphill climb” ...,Bernie Sanders vows a contested convention des...

In [21]:
# Publication data range
df.webPublicationDate.min() ,df.webPublicationDate.max()

('2016-05-01T00:54:45Z', '2017-03-27T22:26:20Z')

In [23]:
for idx,item in enumerate(df.bodyText):
    df.bodyText[idx] = re.sub('[^\x00-\x7F]+', "", item)
    if idx%500 == 0:
        print ('Here is the ',idx,'th item')

Here is the  0 th item
Here is the  500 th item
Here is the  1000 th item
Here is the  1500 th item
Here is the  2000 th item
Here is the  2500 th item
Here is the  3000 th item
Here is the  3500 th item
Here is the  4000 th item
Here is the  4500 th item
Here is the  5000 th item
Here is the  5500 th item
Here is the  6000 th item
Here is the  6500 th item
Here is the  7000 th item
Here is the  7500 th item
Here is the  8000 th item
Here is the  8500 th item
Here is the  9000 th item
Here is the  9500 th item
Here is the  10000 th item
Here is the  10500 th item
Here is the  11000 th item
Here is the  11500 th item
Here is the  12000 th item
Here is the  12500 th item
Here is the  13000 th item
Here is the  13500 th item
Here is the  14000 th item
Here is the  14500 th item
Here is the  15000 th item
Here is the  15500 th item
Here is the  16000 th item
Here is the  16500 th item
Here is the  17000 th item
Here is the  17500 th item
Here is the  18000 th item
Here is the  18500 th item
Here is the  19000 th item
Here is the  19500 th item

In [24]:
for idx,item in enumerate(df.headline):
    df.headline[idx] = re.sub('[^\x00-\x7F]+', "", item)
    if idx%500 == 0:
        print('Here is the ',idx,'th item')

Here is the  0 th item
Here is the  500 th item
Here is the  1000 th item
Here is the  1500 th item
Here is the  2000 th item
Here is the  2500 th item
Here is the  3000 th item
Here is the  3500 th item
Here is the  4000 th item
Here is the  4500 th item
Here is the  5000 th item
Here is the  5500 th item
Here is the  6000 th item
Here is the  6500 th item
Here is the  7000 th item
Here is the  7500 th item
Here is the  8000 th item
Here is the  8500 th item
Here is the  9000 th item
Here is the  9500 th item
Here is the  10000 th item
Here is the  10500 th item
Here is the  11000 th item
Here is the  11500 th item
Here is the  12000 th item
Here is the  12500 th item
Here is the  13000 th item
Here is the  13500 th item
Here is the  14000 th item
Here is the  14500 th item
Here is the  15000 th item
Here is the  15500 th item
Here is the  16000 th item
Here is the  16500 th item
Here is the  17000 th item
Here is the  17500 th item
Here is the  18000 th item
Here is the  18500 th item
Here is the  19000 th item
Here is the  19500 th item

In [25]:
for idx, item in enumerate(df.bodyText):
    df.bodyText[idx] = re.sub('(\\n)',"",item)
    if idx%500 == 0:
        print ('Here is the ',idx,'th item')

Here is the  0 th item
Here is the  500 th item
Here is the  1000 th item
Here is the  1500 th item
Here is the  2000 th item
Here is the  2500 th item
Here is the  3000 th item
Here is the  3500 th item
Here is the  4000 th item
Here is the  4500 th item
Here is the  5000 th item
Here is the  5500 th item
Here is the  6000 th item
Here is the  6500 th item
Here is the  7000 th item
Here is the  7500 th item
Here is the  8000 th item
Here is the  8500 th item
Here is the  9000 th item
Here is the  9500 th item
Here is the  10000 th item
Here is the  10500 th item
Here is the  11000 th item
Here is the  11500 th item
Here is the  12000 th item
Here is the  12500 th item
Here is the  13000 th item
Here is the  13500 th item
Here is the  14000 th item
Here is the  14500 th item
Here is the  15000 th item
Here is the  15500 th item
Here is the  16000 th item
Here is the  16500 th item
Here is the  17000 th item
Here is the  17500 th item
Here is the  18000 th item
Here is the  18500 th item
Here is the  19000 th item
Here is the  19500 th item
Here is the  20000 th item
Here is the  20500 th item
Here is the  21000 th item
Here is the  21500 th item
Here is the  22000 th item
Here is the  22500 th item
Here is the  23000 th item
Here is the  23500 th item
Here is the  24000 th item
Here is the  24500 th item
Here is the  25000 th item
Here is the  25500 th item
Here is the  26000 th item
Here is the  26500 th item
Here is the  27000 th item
Here is the  27500 th item
Here is the  28000 th item
Here is the  28500 th item
Here is the  29000 th item
Here is the  29500 th item
Here is the  30000 th item
Here is the  30500 th item
Here is the  31000 th item
Here is the  31500 th item
Here is the  32000 th item
Here is the  32500 th item
Here is the  33000 th item
Here is the  33500 th item
Here is the  34000 th item
Here is the  34500 th item
Here is the  35000 th item
Here is the  35500 th item

In [26]:
for idx, item in enumerate(df.headline):
    df.headline[idx] = re.sub('(\\n)',"",item)
    if idx%500 == 0:
        print ('Here is the ',idx,'th item')

Here is the  0 th item
Here is the  500 th item
Here is the  1000 th item
Here is the  1500 th item
Here is the  2000 th item
Here is the  2500 th item
Here is the  3000 th item
Here is the  3500 th item
Here is the  4000 th item
Here is the  4500 th item
Here is the  5000 th item
Here is the  5500 th item
Here is the  6000 th item
Here is the  6500 th item
Here is the  7000 th item
Here is the  7500 th item
Here is the  8000 th item
Here is the  8500 th item
Here is the  9000 th item
Here is the  9500 th item
Here is the  10000 th item
Here is the  10500 th item
Here is the  11000 th item
Here is the  11500 th item
Here is the  12000 th item
Here is the  12500 th item
Here is the  13000 th item
Here is the  13500 th item
Here is the  14000 th item
Here is the  14500 th item
Here is the  15000 th item
Here is the  15500 th item
Here is the  16000 th item
Here is the  16500 th item
Here is the  17000 th item
Here is the  17500 th item
Here is the  18000 th item
Here is the  18500 th item
Here is the  19000 th item
Here is the  19500 th item
Here is the  20000 th item
Here is the  20500 th item
Here is the  21000 th item
Here is the  21500 th item
Here is the  22000 th item
Here is the  22500 th item
Here is the  23000 th item
Here is the  23500 th item
Here is the  24000 th item
Here is the  24500 th item
Here is the  25000 th item
Here is the  25500 th item
Here is the  26000 th item
Here is the  26500 th item
Here is the  27000 th item
Here is the  27500 th item
Here is the  28000 th item
Here is the  28500 th item
Here is the  29000 th item
Here is the  29500 th item
Here is the  30000 th item
Here is the  30500 th item
Here is the  31000 th item
Here is the  31500 th item
Here is the  32000 th item
Here is the  32500 th item
Here is the  33000 th item
Here is the  33500 th item
Here is the  34000 th item
Here is the  34500 th item
Here is the  35000 th item
Here is the  35500 th item

In [27]:
# Saving the cleaned data into csv file
df.to_csv(r"C:\Users\srikar\Desktop\Clean_TheGuardian_Combined_No_Slash.csv")

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19998 entries, 5 to 92371
Data columns (total 14 columns):
apiUrl                19998 non-null object
fields                19998 non-null object
id                    19998 non-null object
isHosted              19998 non-null bool
pillarId              19998 non-null object
pillarName            19998 non-null object
sectionId             19998 non-null object
sectionName           19998 non-null object
type                  19998 non-null object
webPublicationDate    19998 non-null object
webTitle              19998 non-null object
webUrl                19998 non-null object
bodyText              19998 non-null object
headline              19998 non-null object
dtypes: bool(1), object(13)
memory usage: 3.2+ MB

In [53]:
sum_ = 0
max_ = 0
min_ = 9999
for item in df.bodyText:
    sum_+=len(item)
    if (len(item) > max_):
        max_ = len(item)
    if (len(item) < min_):
        min_ = len(item)

In [54]:
print ("Min number of word count",min_ ,"\nMax number of word count",max_,"\nTotal number of word count", sum_)

Min number of word count 57
Max number of word count 147562
Total number of word count 283686016